[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = "*"
msgpack-python = ">0.3,!=0.5.5"
PyYAML = "*"
MarkupSafe = "*"
requests = ">=1.0.0"
tornado = ">=4.2.1,<5.0"
pycrypto = ">=2.6.1"
pyzmq = ">=2.2.0"
salt = "==2018.3.3"

[dev-packages]
pytest = "*"
testinfra = "*"
paramiko = "*"
ipython = "*"

[dev-packages.pytest-salt-formula]
git = "https://github.com/martinwalsh/pytest-salt-formula.git"
branch = "master"

[requires]
python_version = "2.7"
